:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

ng-terminal {
    flex-grow: 1;
}

.tile-header {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.tile-actions {

}
