:host {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.toolbar {
  height: 50px;
  margin: 10px;
  border-bottom: solid 1px lightgray;
}

.active-terminals {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
  padding: 10px;
}

.terminal {
  width: 497px;
  height: 507px;
  margin: 5px;
}

.fullscreen {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.minimized {
  height: 50px;
  margin: 0px;
  width: fit-content;
}

terminal-tail {
  flex-grow: 1;
}

.minimized-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow: auto;
  padding: 0px;
  justify-content: center;
}
