:host {
    display: flex;
    flex-direction: column;
    position: relative;
    border: solid 1px lightgray;
    overflow: hidden;
}

ng-terminal {
    flex-grow: 1;
}

.tile-header {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.tile-title {
    margin: 0px 10px 0px 10px;
}

.minimized {
    display: none;
    height: 0px;
}
