<mat-toolbar color="primary">
  <a class="logo" routerLink="/dashboard"><mat-icon>terminal</mat-icon> {{title}}</a>
  <div class="navigation">
    <a *ngIf="_authService.isUserLoggedIn$ | async" routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a>
    <a *ngIf="_authService.isUserLoggedIn$ | async" routerLink="/servers" routerLinkActive="active" ariaCurrentWhenActive="page">Servers</a>
  </div>
  <a *ngIf="_authService.isUserLoggedIn$ | async" routerLink="/logout" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>logout</mat-icon></a>
</mat-toolbar>
<h2 *ngIf="pageTitle" class="page-header">{{pageTitle}}</h2>
<div class="container">
  <router-outlet></router-outlet>
</div>

