:host {
    position: relative;
}

mat-toolbar {
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.navigation {
    flex-grow: 1;
     display: flex;
     justify-content: center;
     align-items: center;
}
.navigation a {
    margin-right: 15px;
}
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100% - 64px);
}

.spacer {
    flex: 1 1 auto;
}

a {
    color: white;
    text-decoration: none;
}

a.active {
    text-decoration: underline;
}

h2 {
    height: 40px;
    text-align: center;
    border-bottom: solid 1px lightgray;
    margin: 16px 0 0 0;
}