:host {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.toolbar {
    height: 50px;
    margin: 10px;
    border-bottom: solid 1px lightgray;
}

.active-terminals {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 10px;
}

.terminal {
    min-width: 200px;
    max-width: 30%;
    min-height: 150px;
    max-height: 500px;
    // margin: 10px;
}

terminal-tail {
    flex-grow: 1;
}
