<span class="header">Terminal {{selectedShell}}</span>
<div #commandLineOutput class="commandLineOutput">
  <p *ngFor="let output of outputHistory">{{ output }}</p>
</div>
<div class="command-form">
<form (ngSubmit)="executeCommand()" class="mat">
    <!-- TODO: Add a threadID select to change the active thread -->
    <mat-form-field>
      <mat-label>New Shell</mat-label>
      <mat-select [value]="selectedShell" (valueChange)="changeSelectedShell($event)" name="selectedShell">
        <mat-option>New Shell</mat-option>
        <mat-option *ngFor="let thread of (threads$ | async)" [value]="thread">
          {{ thread }}
        </mat-option>
      </mat-select>
      <button color="warn" type="button" *ngIf="selectedShell!== undefined" mat-icon-button matPrefix (click)="removeSelectedShell($event)" 
        [attr.aria-label]="'Remove selected Shell'">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field *ngIf="!selectedShell" color="primary">
        <mat-label>Shell Name</mat-label>
        <input matInput [(ngModel)]="newShellName" name="newShellName">
    </mat-form-field>
    <mat-form-field color="primary" class="flex-grow-1">
      <mat-label>Enter command here</mat-label>
      <input matInput [(ngModel)]="command" name="command" 
        [matAutocomplete]="commandsHistoryAutoComplete">
    </mat-form-field>
    <div class="submit-container">
      <button mat-raised-button color="primary" type="submit">Execute</button>
    </div>
</form>
<mat-autocomplete #commandsHistoryAutoComplete="matAutocomplete">
  <mat-option *ngFor="let option of commandHistory" [value]="option">
    {{ option }}
  </mat-option>
</mat-autocomplete>
</div>