@use 'sass:map';
@use '@angular/material' as mat;

$primary: mat.define-palette(mat.$deep-purple-palette);
$accent: mat.define-palette(mat.$amber-palette);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (primary: $primary, accent: $accent, warn: $warn),
));

$color-config:    mat.get-color-config($theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette:  map.get($color-config, 'accent');
$warn-palette:    map.get($color-config, 'warn');


:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.commandLineOutput {
    max-height: calc(100% - 131px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding:0px 5px;
}

.header {
    margin: 10px 0px 5px 0px;
    font-size: 18px;
    height: 30px;
    border-bottom: solid 1px rgba(100,100,100,0.15);
    padding: 0px 10px;
}

.command-form {
    border-bottom: solid 1px rgba(100,100,100,0.15);
    padding: 10px;
    position: fixed;
    width: calc(100% - 20px);
    bottom: 0px;
    background: white;
}

.command-form form {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.flex-grow-1 {
    flex-grow: 1;
}

mat-form-field {
    margin-right: 10px;
}

form button {
    height: 56px;
}