<div #commandLineOutput class="commandLineOutput">
  <p class="header">Terminal ------- {{shellId}}</p>
  <p *ngFor="let output of outputHistory">{{ output }}</p>
</div>
<div class="command-form">
<form (ngSubmit)="executeCommand()" class="mat">
    <!-- TODO: Add a threadID select to change the active thread -->
    <mat-form-field>
      <mat-label>Select an option</mat-label>
      <mat-select [value]="shellId" (valueChange)="changeSelectedShell($event)" name="shellId">
        <mat-option value="New">New Shell</mat-option>
        <mat-option *ngFor="let thread of (threads$ | async)" [value]="thread">
          {{ thread }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="showNewShellInput" color="primary">
        <mat-label>Shell Name</mat-label>
        <input matInput [(ngModel)]="newShellName" name="newShellName">
    </mat-form-field>
    <mat-form-field color="primary" class="flex-grow-1">
      <mat-label>Enter command here</mat-label>
      <input matInput [(ngModel)]="command" name="command" [matAutocomplete]="auto">
    </mat-form-field>
    <div class="submit-container">
      <button mat-raised-button color="primary" type="submit">Execute</button>
    </div>
</form>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of commandsHistory" [value]="option">
    {{ option }}
  </mat-option>
</mat-autocomplete>
</div>