@if (server) {
    <h1 mat-dialog-title>
        Edit {{server!.name}}
    </h1>
} @else {
    <h1 mat-dialog-title>
        Add Server
    </h1>
}

<div mat-dialog-content>
    <form [formGroup]="serverFormGroup">
        <mat-form-field>
            <mat-label>Server Name</mat-label>
            <input matInput formControlName="name" type="text">
        </mat-form-field>
        <mat-form-field class="description">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" type="text">
        </mat-form-field>
        <div formGroupName="connectionSettings" class="connection-data">
            <h2>Connection</h2>
            <mat-form-field>
                <mat-label>Host</mat-label>
                <hostname-input formControlName="host" required formControlName="host"></hostname-input>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Port</mat-label>
                <input matInput required formControlName="port" type="number">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput required formControlName="username" type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput required formControlName="password" type="password">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Private Key</mat-label>
                <textarea matInput formControlName="privateKey"></textarea>
            </mat-form-field>
            <mat-checkbox formControlName="usePKey">Use Key</mat-checkbox>
        </div>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="warn" (click)="cancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="save()" cdkFocusInitial>Save</button>
</div>
